<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header th:replace="fragments :: header"></header>
<form method = 'post' th:action="@{/user}">
    <label>
        Username:
        <input type = 'text' name = 'username' th:value="${username}">
    </label>
    <p class="error" th:errors="${user.username}"></p>

    <label>
        Email:
        <input name = 'email' th:value="${email}">
    </label>
    <p class="error" th:errors="${user.email}"></p>

    <label>
        Password:
        <input type = 'password' name = 'password'>
    </label>
    <p class="error" th:errors="${user.password}"></p>

    <label>
        Verify Password:
        <input type = 'password' name = 'verify'>
    </label>
    <p class="error" th:errors="${user.verify}"></p>

    <p th:text="${error}"></p>

    <input type = 'submit' value = 'Sign Up'>
</form>

</body>
</html>