<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Common Name
            <input type="text" th:field="${seed.commonName}" class="form-control" />
        </label>
        <p class="error" th:errors="${seed.commonName}"></p>
    </div>
    <div class="form-group">
        <label>Scientific Name
            <input type="text" th:field="${seed.scientificName}" class="form-control" />
            <p class="error" th:errors="${seed.scientificName}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Light
            <select th:field="${seed.light}">
                <option th:each="light : ${lights}"
                        th:value="${light.id}"
                        th:text="${light.name}"></option>
            </select>
            <p class="error" th:errors="${seed.light}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Water
            <select th:field="${seed.water}">
                <option th:each="water : ${waters}"
                        th:value="${water.id}"
                        th:text="${water.name}"></option>
            </select>
            <p class="error" th:errors="${seed.water}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Mature height
            <select th:field="${seed.height}">
                <option th:each="height : ${heights}"
                        th:value="${height.id}"
                        th:text="${height.name}"></option>
            </select>
            <p class="error" th:errors="${seed.height}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Mature spread
            <select th:field="${seed.spread}">
                <option th:each="spread : ${spreads}"
                        th:value="${spread.id}"
                        th:text="${spread.name}"></option>
            </select>
            <p class="error" th:errors="${seed.spread}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Family
            <select th:field="${seed.family}">
                <option th:each="family : ${families}"
                        th:value="${family.id}"
                        th:text="${family.name}"></option>
            </select>
            <p class="error" th:errors="${seed.family}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Direct sow?
            <input type="checkbox" name="directSow" th:checked="${seed.directSow}" /> </label>
    </div>
    <div class="form-group">
        <label>Direct sow by:
            <input type="date" name="sowBy" th:value="${seed.sowBy}" /> </label>
    </div>
    <div class="form-group">
        <label>Indoor start?
            <input type="checkbox" name="indoorStart" th:checked="${seed.indoorStart}" /> </label>
    </div>
    <div class="form-group">
        <label>Indoor start by:
            <input type="date" name="indoorStartBy" th:value="${seed.indoorStartBy}" /> </label>
    </div>
    <div class="form-group">
        <label>Transplant by:
            <input type="date" name="moveOutBy" th:value="${seed.moveOutBy}" /> </label>
    </div>
    <div class="form-group">
        <label>Tag
            <select th:field="${seed.tag}">
                <option th:each="tag : ${tags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"></option>
            </select>
            <p class="error" th:errors="${seed.tag}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Seed" class="btn btn-success">
    </div>
</form>

</body>
</html>