<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <th:block th:each="seed : ${seeds}">
        <div class="form-group">
            <label>
                <span th:text="${seed.commonName}"></span>
                <input type="checkbox" name="seedIds" th:value="${seed.id}" />
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>