<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${seed.id}"></td>
    </tr>
    <tr>
        <th>Common Name</th>
        <td th:text="${seed.commonName}"></td>
    </tr>
    <tr>
        <th>Scientific Name</th>
        <td th:text="${seed.scientificName}"></td>
    </tr>
    <tr>
        <th>Light</th>
        <td th:text="${seed.light.name}"></td>
    </tr>
    <tr>
        <th>Water</th>
        <td th:text="${seed.water.name}"></td>
    </tr>
    <tr>
        <th>Height</th>
        <td th:text="${seed.height.name}"></td>
    </tr>
    <tr>
        <th>Spread</th>
        <td th:text="${seed.spread.name}"></td>
    </tr>
    <tr>
        <th>Family</th>
        <td th:text="${seed.family.name}"></td>
    </tr>
    <tr>
        <th>Sow By Date</th>
        <td th:text="${seed.sowBy}"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>
</table>

<a th:href="'/seeds/add-tag?seedId=' + ${seed.id}">Add Tag</a>

</body>
</html>