<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${seed.id}"></td>
    </tr>
    <tr>
        <th>Common Name</th>
        <td th:text="${seed.commonName}"></td>
    </tr>
    <tr>
        <th>Scientific Name</th>
        <td th:text="${seed.scientificName}"></td>
    </tr>
    <tr>
        <th>Light</th>
        <td th:text="${seed.light}"></td>
    </tr>
    <tr>
        <th>Water</th>
        <td th:text="${seed.water}"></td>
    </tr>
    <tr>
        <th>Height</th>
        <td th:text="${seed.height}"></td>
    </tr>
    <tr>
        <th>Spread</th>
        <td th:text="${seed.spread}"></td>
    </tr>
    <tr>
        <th>Scientific Name</th>
        <td th:text="${seed.scientificName}"></td>
    </tr>
    <tr>
        <th>Direct Sow?</th>
        <td th:text="${seed.directSow}"></td>
    </tr>
    <tr>
        <th>Direct Sow Date</th>
        <td th:text="${seed.sowBy}"></td>
    </tr>
    <tr>
        <th>Indoor Start?</th>
        <td th:text="${seed.indoorStart}"></td>
    </tr>
    <tr>
        <th>Indoor Start Date</th>
        <td th:text="${seed.indoorStartBy}"></td>
    </tr>
    <tr>
        <th>Transplant Date</th>
        <td th:text="${seed.moveOutBy}"></td>
    </tr>
    <tr>
        <th>Family</th>
        <td th:text="${seed.family}"></td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>
</table>

<a th:href="'/seeds/add-tag?seedId=' + ${seed.id}">Add Tag</a>

</body>
</html>